<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link rel="stylesheet" href="../static/portfolio.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="wrapper">
          <li><a href="/">Home</a></li>
          <li><a href="https://makus.studio/">Newsfeed </a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <section class="container">
      <button class="btn" onclick="openPopup('search')">Add</button>
      <form method="POST" action="">
        <section class="search" id="search">
          <section class="search-container">
            <section>
              <input
                type="text"
                placeholder="Search by Symbol"
                id="search-input"
                name="search-input"
              />
              <!-- search button -->
              <button
                type="submit"
                name="home_btn"
                value="search_btn"
                onclick="openPopup('search')"
                class="search-btn"
              >
                <img src="../static/images/search-icon.png" alt="search-icon" />
              </button>
              <button
                type="button"
                onclick="closePopup('search')"
                class="search-btn"
              >
                <img
                  src="../static/images/icons8-return-48.png"
                  alt="plus-icon"
                />
              </button>
            </section>
            <!-- if data is displayed -->
            {% if data %}
            <div class="search-results">
              <img src="{{data.logo}}" alt="logo of {{data.name}}" />
              <h1>{{data.symbol}}</h1>
              <h1>{{data.name}}</h1>
              <h1>{{data.price}}</h1>

              <button
                type="submit"
                class="add-cryptobtn"
                value="add_crypto_btn"
                name="home_btn"
              >
                <span
                  class="add-cryptobtn-text"
                  name="home_btn"
                  value="add_crypto_btn"
                >
                  ADD
                </span>
                <span class="add-cryptobtn-icon">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </span>
              </button>
            </div>
            <script>
              search.classList.add("open-popup");
              const element = document.querySelector(".search-container");
              element.style.marginTop = "160px";
            </script>
            <script
              type="module"
              src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
            ></script>
            <script
              nomodule
              src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
            ></script>
            {% endif %} {% if msg %}
            <div class="search-results">
              <h1>{{msg}}</h1>
              <script>
                search.classList.add("open-popup");
                const element = document.querySelector(".search-container");
                element.style.marginTop = "160px";
              </script>
            </div>
            {% endif %}
          </section>
        </section>
        <div class="popup" id="popup">
          <img src="../static/images/404-tick.png" alt="tick" />
          <h2>Added</h2>
          <p>Added Successfuly</p>
          <button type="button" onclick="closePopup()">Return</button>
        </div>
      </form>
    </section>
    <section class="portfolio-container">
      {% if portfolio %}
      <h1>Portfolio</h1>
      <table class="portfolio">
        <thead>
          <tr>
            <th>Cryptocurrency</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for crypto_id, crypto_info in portfolio.cryptos.items() %}
          <tr class="portfolio-item">
            <td class="portfolio-info">
              <span>
                {{crypto_info.name}}

                <img
                  src="{{crypto_info.logo}}"
                  alt="logo of{{crypto_info.name}}"
                />
              </span>
            </td>
            <td class="portfolio-info">{{crypto_info.symbol}}</td>
            <td class="portfolio-info">{{crypto_info.price}}</td>
            <td class="portfolio-info">{{crypto_info.amount}}</td>
            <td class="portfolio-info">
              <button
                title="Sell {{crypto_info.name}}"
                type="submit"
                name="portfolio_button"
                value="{{crypto_id}}"
                class="remove-btn"
              >
                Remove
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </section>
    <script src="../static/popupButtons.js"></script>
  </body>
</html>
