<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="wrapper">
          <li><a href="/">Home</a></li>
          <li><a href="https://makus.studio/">Newsfeed </a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <section class="container">
      <button class="btn" onclick="openPopup()">Add</button>
      <form>
        <div class="search-bar">
          <section>
            <input type="text" placeholder="Search" />
            <button type="submit" class="search-btn">
              <img
                src="../static/images/search-icon.png"
                alt="search-icon"
              />Search
            </button>
          </section>
        </div>
          <button type="button" onclick="closePopup()">Return</button>
        </div>
        <div class="popup" id="popup">
          <img src="../static/images/404-tick.png" alt="tick" />
          <h2>Added</h2>
          <p>Added Successfuly</p>
          <button type="button" onclick="closePopup()">Return</button>
        </div>
      </form>
    </section>
    <script>
      const popup = document.getElementById("popup");
      function openPopup() {
        popup.classList.add("open-popup");
      }
      function closePopup() {
        popup.classList.remove("open-popup");
      }
      function add() {
        popup.style.visibility = "visible";
      }
    </script>
  </body>
</html>
