<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css" />
  </head>
  <body>
    {% if error %}
    <script>
      alert("{{error}}");
    </script>
    {% endif %} {% if msg %}
    <script>
      alert("{{msg}}");
    </script>
    {% endif %}
    <div class="login-wrapper">
      <form action="" method="POST">
        <img
          src="{{url_for('static', filename='images/user.png')}}"
          alt="user-male-circle"
          class="user-img"
        />

        <section>
          <div class="input-box">
            <input
              type="text"
              placeholder="Username"
              required
              name="username"
            />
          </div>
          <div class="input-box">
            <input
              type="password"
              placeholder="Password"
              required
              name="password"
            />
          </div>
        </section>
        <div class="remember-forget">
          <div class="remember-me">
            <input
              type="checkbox"
              id="remember-me-checkbox"
              name="remember-me"
              placeholder="Remember me"
            />
            <p>Remember me</p>
          </div>
          <a href="#">Forget Password?</a>
        </div>
        <div class="btn-wrapper">
          <button class="btn" type="submit" value="login" name="submit_button">
            Login
          </button>
          <button
            class="btn"
            type="submit"
            value="register"
            name="submit_button"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
