<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistics</title>
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/statistics.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="wrapper">
          <li><a href="/">Home</a></li>
          <li><a href="/statistics">Statistics</a></li>
          <li><a href="https://makus.studio/">Newsfeed </a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <canvas id="portfolio-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById("portfolio-chart");
      const data = {
        labels: ["Red", "Blue", "Yellow"],
        datasets: [
          {
            label: "My First Dataset",
            data: [300, 50, 100],
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(54, 162, 235)",
              "rgb(255, 205, 86)",
            ],
            hoverOffset: 4,
          },
        ],
      };
      const config = {
        type: "doughnut",
        data: data,
      };

      new Chart(ctx, config);
    </script>
  </body>
</html>
