header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border: 2px dashed #333;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

header a:hover {
  color: #ff6600;
}
header a {
  color: inherit;
  text-decoration: none;
}
